@font-face {
  font-family: 'Ubuntu Mono';
  src: url('fonts/UbuntuMono-Italic.eot');
  src: url('fonts/UbuntuMono-Italic.eot?#iefix') format('embedded-opentype'), url('fonts/UbuntuMono-Italic.woff') format('woff'), url('fonts/UbuntuMono-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('fonts/Ubuntu-Bold.eot');
  src: url('fonts/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/Ubuntu-Bold.woff') format('woff'), url('fonts/Ubuntu-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu Condensed';
  src: url('fonts/UbuntuCondensed-Regular.eot');
  src: url('fonts/UbuntuCondensed-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/UbuntuCondensed-Regular.woff') format('woff'), url('fonts/UbuntuCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu Mono';
  src: url('fonts/UbuntuMono-Regular.eot');
  src: url('fonts/UbuntuMono-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/UbuntuMono-Regular.woff') format('woff'), url('fonts/UbuntuMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('fonts/Ubuntu-Italic.eot');
  src: url('fonts/Ubuntu-Italic.eot?#iefix') format('embedded-opentype'), url('fonts/Ubuntu-Italic.woff') format('woff'), url('fonts/Ubuntu-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('fonts/Ubuntu-Light.eot');
  src: url('fonts/Ubuntu-Light.eot?#iefix') format('embedded-opentype'), url('fonts/Ubuntu-Light.woff') format('woff'), url('fonts/Ubuntu-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu Mono';
  src: url('fonts/UbuntuMono-Bold.eot');
  src: url('fonts/UbuntuMono-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/UbuntuMono-Bold.woff') format('woff'), url('fonts/UbuntuMono-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('fonts/Ubuntu-LightItalic.eot');
  src: url('fonts/Ubuntu-LightItalic.eot?#iefix') format('embedded-opentype'), url('fonts/Ubuntu-LightItalic.woff') format('woff'), url('fonts/Ubuntu-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('fonts/Ubuntu-MediumItalic.eot');
  src: url('fonts/Ubuntu-MediumItalic.eot?#iefix') format('embedded-opentype'), url('fonts/Ubuntu-MediumItalic.woff') format('woff'), url('fonts/Ubuntu-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('fonts/Ubuntu.eot');
  src: url('fonts/Ubuntu.eot?#iefix') format('embedded-opentype'), url('fonts/Ubuntu.woff') format('woff'), url('fonts/Ubuntu.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ubuntu Mono';
  src: url('fonts/UbuntuMono-BoldItalic.eot');
  src: url('fonts/UbuntuMono-BoldItalic.eot?#iefix') format('embedded-opentype'), url('fonts/UbuntuMono-BoldItalic.woff') format('woff'), url('fonts/UbuntuMono-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('fonts/Ubuntu-BoldItalic.eot');
  src: url('fonts/Ubuntu-BoldItalic.eot?#iefix') format('embedded-opentype'), url('fonts/Ubuntu-BoldItalic.woff') format('woff'), url('fonts/Ubuntu-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Ubuntu';
  src: url('fonts/Ubuntu-Medium.eot');
  src: url('fonts/Ubuntu-Medium.eot?#iefix') format('embedded-opentype'), url('fonts/Ubuntu-Medium.woff') format('woff'), url('fonts/Ubuntu-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
#social-login-popup .social-login-title {
  background-color: #666 !important;
}
.cart-summary {
  background-color: #EFEFEF !important;
}
button.checkout,
button.login,
button.tocart {
  background-color: #bd4f5c !important;
  border: 1px solid #bd4f5c !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  color: #ffffff !important;
}
div.primary {
  margin-right: 15px !important;
}
div.primary button {
  padding-right: 0 !important;
}
div.primary button span {
  padding-right: 15px !important;
}
div.primary a {
  background-color: #bd4f5c !important;
  border: 1px solid #bd4f5c !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  color: #ffffff !important;
}
a.create {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
h1,
.title {
  font-weight: bold;
  font-size: 30px !important;
}
strong,
h2 {
  font-weight: normal !important;
}
.details-qty label {
  padding-right: 20px !important;
}
body {
  font-family: 'Ubuntu';
  font-weight: normal;
}
body .page-wrapper header .wrapper {
  border-bottom: 1px solid #e8e8e8 !important;
  background-color: #EFEFEF !important;
  color: #333333 !important;
  height: 24px !important;
}
body .page-wrapper header .wrapper .header {
  padding-top: 3px !important;
}
body .page-wrapper header .wrapper .header ul {
  font-size: 10px !important;
}
body .page-wrapper header .wrapper .header ul li {
  font-size: 10px !important;
}
body .page-wrapper header .wrapper .header ul li a {
  font-size: 10px !important;
  color: #333333 !important;
}
body .page-wrapper header .content .block-search {
  float: left;
  padding-left: 50px;
}
body .page-wrapper header .content .block-search form {
  width: 350px !important;
}
body .page-wrapper header .content .block-search form input {
  padding-left: 8%;
}
body .page-wrapper header .content .block-search form .actions button {
  background: none !important;
  border: none !important;
  right: 0;
  left: 18% !important;
}
body .page-wrapper .navigation .active a {
  border-color: #333333 !important;
}
body .page-wrapper div.nav-sections {
  margin-bottom: 8px !important;
}
body .page-wrapper div.nav-sections .nav-sections-item-content {
  background: #fff;
}
body .page-wrapper div.nav-sections .nav-sections-item-content nav {
  background: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold !important;
}
body .page-wrapper div.nav-sections .nav-sections-item-content nav ul li {
  margin: 0!important;
  padding-right: 5px;
  padding-left: 5px;
}
body .page-wrapper div.nav-sections .nav-sections-item-content nav ul li a {
  color: #333333;
  border-color: #333333 !important;
}
body .page-wrapper div.nav-sections .nav-sections-item-content nav ul li::before {
  content: "" !important;
  display: block !important;
  width: 1px !important;
  background-color: #CCC !important;
  position: absolute !important;
  right: 0 !important;
  top: 16px !important;
  bottom: 12px !important;
}
body .page-wrapper div.nav-sections .nav-sections-item-content nav ul li ul {
  font-size: 11px !important;
}
body .page-wrapper div.nav-sections .nav-sections-item-content nav ul li ul li {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
body .page-wrapper div.nav-sections .nav-sections-item-content nav ul li ul li a {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}
body .page-wrapper div.breadcrumbs {
  background: #ccc !important;
  padding-top: 10px !important;
  padding-left: 10px !important;
  padding-bottom: 10px !important;
  background-color: #f0f0f0 !important;
}
body .page-wrapper div.breadcrumbs ul li a {
  color: #666666 !important;
}
footer {
  background: none !important;
  border-top: 1px solid #CCC;
}
small.copyright {
  display: none !important;
}
