<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <fedex_courrier>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Ditosas\FedexCourrier\Model\Carrier\Ship</model>
                <name>FedEX Colombia</name>
                <price>6000</price>
                <title>FedEX Colombia</title>
                <type>I</type>
                <specificerrmsg>Metodo de envío no disponible por el momento</specificerrmsg>
            </fedex_courrier>
        </carriers>
    </default>
</config>